@charset 'UTF-8';

@media screen and (min-width: 992px) {
    
    main > div{
       
        height: 200px;
        align-items: center;
        justify-content: sap;
        justify-items: center   ;
        
    }

   
    

    
    
    main > div.menu > nav > a{
        background-color:#05294a;
       
        padding: 60px;
        margin: 0px 10px 0px 10px;
        margin-top: 10px;
        position: relative;
        transition: transform 0.3s ease-in-out;
        flex: 0 0 100px;
    }

    main > div.menu > nav > a:hover{

        background-color:#014584;
        border: 1px solid black;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.483);
       
         
        transform: translateY(-3px) ;
    }

       .container{
        width: 90vw;
        padding: 15px;
        height: 200px;
       
    }


    .container > .img-produto{
        float: left;
        width: 200px;
        height: 120px;

    }

    .container > .descricao-produto{
        width: 80vw;
        margin-top: 10px;
       
        
    }
    
    .container > .descricao-produto > h2{
        
        margin-bottom: 10px;
    }
    .container > .valor-produto> span{
        width: 90vw;
        text-align: right;  
        font-size: 2em;  
    }

    .container > .btn-comec{
        
        margin-top: -40px;
        width: 40vw;
       
    }
   
   .container > .btn-comec > a{
        
        text-align: center;
        width: 200px;
        
               
   }    

  
}

